/* Inter Regular (Normaler Flosstext) */
@font-face {
  font-family: 'Inter';
  src: url('@/assets/fonts/inter/Inter_18pt-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Inter Medium (Für UI-Elemente und Navigation) */
@font-face {
  font-family: 'Inter';
  src: url('@/assets/fonts/inter/Inter_18pt-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Inter SemiBold (Für Zwischenüberschriften) */
@font-face {
  font-family: 'Inter';
  src: url('@/assets/fonts/inter/Inter_18pt-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Inter Bold (Perfekt für grosse, fette Titel) */
@font-face {
  font-family: 'Inter';
  src: url('@/assets/fonts/inter/Inter_18pt-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
