@import "tailwindcss";
@import "@nuxt/ui";

/*** Works on common browsers ***/
::selection {
    background-color: var(--color-orange-500);
    color: #fff;
}

/*** Mozilla based browsers ***/
::-moz-selection {
    background-color: var(--color-orange-500);
    color: #fff;
}

/***For Other Browsers ***/
::-o-selection {
    background-color: var(--color-orange-500);
    color: #fff;
}

::-ms-selection {
    background-color: var(--color-orange-500);
    color: #fff;
}

/*** For Webkit ***/
::-webkit-selection {
    background-color: var(--color-orange-500);
    color: #fff;
}
