@import "./../fonts/heinberg/heinberg.css";
@import "./../fonts/din-next/din-next.css";
@import "tailwindcss";
@import "@nuxt/ui";

@theme {
    --font-heading: "HeinbergTextured", Georgia, serif;
    --font-sans: "DIN Next W01 Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --text-6xl--line-height: 1.3;

    --animate-fade-in: fade-in 1s ease-in-out forwards;
    --animate-fade-out: fade-out 1s ease-in-out forwards;

    @keyframes fade-in {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    @keyframes fade-out {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
}

@layer components {
    .heading {
        @apply font-heading;
    }
    .heading--1 {
        @apply !text-3xl lg:!text-6xl ;
    }
    .heading--2 {
        @apply !text-2xl lg:!text-4xl ;
    }
}

/*** Works on common browsers ***/
::selection {
    background-color: var(--color-orange-500);
    color: #fff;
}

/*** Mozilla based browsers ***/
::-moz-selection {
    background-color: var(--color-orange-500);
    color: #fff;
}

/***For Other Browsers ***/
::-o-selection {
    background-color: var(--color-orange-500);
    color: #fff;
}

::-ms-selection {
    background-color: var(--color-orange-500);
    color: #fff;
}

/*** For Webkit ***/
::-webkit-selection {
    background-color: var(--color-orange-500);
    color: #fff;
}
